.mainBody {
    border: 1px solid #000;
    height: 500px;
    text-align: center;
    background-color: cornflowerblue;
    width: 28%;
    margin: 2%;
}

.pricing {
    width: 100px;
    height: 100px;
    border-radius: 100%;
    background: yellow;
    display: inline-block;
}