@import 'https://fonts.googleapis.com/css?family=Roboto:300,400,500';

html {
  min-width: 100%;
  min-height: 100%;
}

body {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  color: #566b78;
  line-height: 1.5;
  margin: 0 auto;
  background-color: #FFF;
}

h2 {
  margin-top: 1em;
  padding-top: 1em;
}

h1,
h2,
strong {
  color: #333;
}

a {
  color: #566b78;
}

input {
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #a7adba;
}

label {
  font-weight: 500;
  padding: 10px;
}

